<p>
    <%if (task.dueDate != '') { %>
        <%=task.dueDate%> 
    <% } else  { %>
        Not specified
    <% } %>

    <%=task.fbkee%> <%=task.direction%> <%=task.type%>

    <%if (task.details != '') { %>
        <%=task.detail%>
    <% } else  { %>
        No comment
    <% } %>
</p>
        
    

