
    <p>
        <%if (task.dueDate != '') { %>
            <%=task.dueDate%> 
        <% } else  { %>
            Not specified
        <% } %>
    </p>
    <p><%=task.fbkee%> <%=task.direction%> <%=task.type%></p>

        <%if (task.details != '') { %>
            <p><%=task.detail%></p>
        <% } else  { %>
            <p>No comment</p>
        <% } %>

        
    

