<div class="card border-primary" style="width: 100%"> 
    <div class="card-header">
        <div class="row">
            <div class="col-sm">
                On 
                <%if (fbk.dueDate != '') { %>
                    <%=fbk.dueDate%><% 
                } else { 
                    %>Not specified<% 
                } %>, <%=fbk.fbkor.shortname%> said...
            </div>
        </div>
    </div>

    <div class="card-body">
        <h5 class ="card-title"><%=fbk.fbkee.shortname%> <%=fbk.direction%> <%=fbk.outcome%> 
            <%if (fbk.behavior != '') { %> 
            <span> using </span>
            <%=fbk.behavior%> <% } else { %>
            <% } %>
        </h5>

        <%if (fbk.details != '') { %>
        <p class="card-text"><%=fbk.detail%></p>
        <% } else  { %>
        <p class="card-text">No comment</p>
        <% } %>

    </div>
    <script>
        function updateRating(rating) {
            alert("you chose " + rating);
        }
    </script>
    <div class="card-footer">
        <div class = "row">
            <div class = "col-sm">
                <ul class="nav justify-content-end nav-pills card-header-pills">
                    <!--li class="nav-item">
                        <a class="nav-link" href="/task/edit/<%=fbk._id%>"> <i class="fas fa-edit"></i></a>
                    </li-->
                    <!-- Rating shows on all but only editable on fbk in ie items that have the logged in user email on the fbkee field -->
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="javascript:alert('feature not yet implemented. Working on it!'+'' + ')"> <i class="fas fa-star"></i></a>
                        <!--href="/task/rate/<%=fbk._id%>"-->
                        <select id="rating" name="rating" onchange="javascript:alert('you chose' + selectedIndex)">
                            <option value="">Please rate</option>
                            <option value="0">Not helpful</option>
                            <option value="1">Helpful</option>
                            <option value="2">More helpful</option>
                            <option value="3">Most helpful</option>
                        </select>
                    </li>
                    <% if (loggedInEmail == fbk.fbkor.email) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/task/delete/<%=fbk._id%>"> <i class="fas fa-trash-alt"></i></a>
                        </li>
                    <%} else {%>
                        <li class="nav-item">
                            <a class="nav-link"><i class="fas fa-trash-alt" style="color:lightgray;"></i></a>
                        </li>
                    <%}%>
                </ul>
            </div>  
        </div>
    </div>
</div>
<p> <!-- card -->