<div class="card border-primary" style="width: 100%"> 
    <div class="card-header">
        <div class="row">
            <div class="col-sm">
                On 
                <%if (fbk.dueDate != '') { %>
                    <%=fbk.dueDate%><% 
                } else { 
                    %>Not specified<% 
                } %>, <%=fbk.fbkor.shortname%> said...
            </div>
        </div>
    </div>

    <div class="card-body">
        <h5 class ="card-title"><%=fbk.fbkee.shortname%> <%=fbk.direction%> <%=fbk.outcome%> 
            <%if (fbk.behavior != '') { %> 
            <span> using </span>
            <%=fbk.behavior%> <% } else { %>
            <% } %>
        </h5>

        <%if (fbk.details != '') { %>
        <p class="card-text"><%=fbk.detail%></p>
        <% } else  { %>
        <p class="card-text">No comment</p>
        <% } %>

    </div>
    <div class="card-footer">
        <% <% let rating = 0; 
            if ( fbk.rating !== null && fbk.rating !== '' ) { 
                    rating = parseInt(fbk.rating) 
                } else { 
                    rating = -1
                } %>
        <div class = "row">
            <div class = "col-sm">
                <ul class="nav justify-content-end nav-pills card-header-pills <% if(rating === -1) {%>unrated<%} else {%>rated<%} %>">
                    <!--li class="nav-item">
                        <a class="nav-link" href="/task/edit/<%=fbk._id%>"> <i class="fas fa-edit"></i></a>
                    </li-->
                    <!-- Rating shows on all but only editable on fbk in ie items that have the logged in user email on the fbkee field -->
                    <li class="nav-item">
                       <span class="caption">Rating:</span>
                        <% /*if ( fbk.rating !== null && fbk.rating !== '' ) {
                            selectData[parseInt(fbk.rating)+1].selected="selected"; 
                        }*/
                        selectDate[rating + 1].selected="selected";%>
                        <% if (loggedInEmail == fbk.fbkee.email) {%>
                            <select id="rating" name="rating" onchange="location.href='/fbk/rate/' + selectedIndex + '/id/<%=fbk._id%>'">
                                <% for (j = 0; j < 5; j++ ) {%>
                                    <option value="<%if (j != 0) {%><%=j-1%><%}%>" <%=selectData[j].selected%> ><%=selectData[j].value%></option>
                                <%}%>
                            </select>
                        <%} else {
                            //if ( fbk.rating !== null && fbk.rating !== '' ) {%>
                                <%=selectData[rating+1].value%>
                                <% selectData[rating+1].selected="";
                            //}
                        }%>
                    </li>
                    <!--li class="nav-item">
                        <a class="nav-link" href="/fbk/edit/<%=fbk._id%>"> <i class="fas fa-pencil-square-o"></i></a>
                    </li-->
                    <% if (loggedInEmail == fbk.fbkor.email) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/task/delete/<%=fbk._id%>"> <i class="fas fa-trash-alt"></i></a>
                        </li>
                    <%} else {%>
                        <li class="nav-item">
                            <a class="nav-link"><i class="fas fa-trash-alt" style="color:lightgray;"></i></a>
                        </li>
                    <%}%>
                </ul>
            </div>  
        </div>
    </div>
</div>

<p> <!-- card -->

