<div class="card border-primary" style="width: 100%"> 
    <div class="card-header">
        <div class="row">
            <div class="col-sm">
                On   
                <%if (fbk.dueDate != '') { %>
                    <%=fbk.dueDate%> 
                <% } else  { %>
                    Not specified
                <% } %>
                <!--,
                <%=username.split(",")[0]%> said... -->
            </div>
        </div>
    </div>
    
    <div class="card-body">
        <h5 class ="card-title"><%=fbk.fbkee.shortname%> <%=fbk.direction%> <%=fbk.outcome%> 
            
            <%if (fbk.behavior != '') { %> 
                <span> using </span>
            <%=fbk.behavior%> <% } else { %>
                <% } %>
            </h5>
         
            <%if (fbk.details != '') { %>
                <p class="card-text"><%=fbk.detail%></p>
            <% } else  { %>
                <p class="card-text">No comment</p>
            <% } %>
        
        
    </div>
    <div class="card-footer">
        <div class = "row">
            <div class = "col-sm">
                <ul class="nav justify-content-end nav-pills card-header-pills">
                    <!--li class="nav-item">
                        <a class="nav-link" href="/fbk/edit/<%=fbk._id%>"> <i class="fas fa-edit"></i></a>
                    </li-->
                    <li class="nav-item">
                        <a class="nav-link" href="/fbk/delete/<%=fbk._id%>"> <i class="fas fa-trash-alt"></i></a>
                    </li>
                </ul>
            </div>  
        </div>
    </div>
</div>
<p> <!-- card -->