<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <% include ./partials/nav %>
            <h4>Are you sure you want to delete this feedback?</h4>
            <p>
            <div class="card border-primary" style="width: 50%"> 
            <div class="card-header">
                <div class="row">
                    <div class="col-sm">
                        From   
                        <%if (fbk.dueDate != '') { %>
                            <%=fbk.dueDate%> 
                        <% } else  { %>
                            Not specified
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5 class ="card-title"><%=fbk.fbkee.shortname%> <%=fbk.direction%> <%=fbk.outcome%></h5>
                <p class="card-text"><%=fbk.detail%></p>
            </div>
            <div class="card-footer">
                <div class = "row">
                    <div class = "col-sm">
                        <ul class="nav justify-content-end nav-pills card-header-pills">
                            <li class="nav-item">
                                <a class="nav-link" href="/task/edit/<%=fbk._id%>"> <i class="fas fa-edit"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/task/delete/<%=fbk._id%>"> <i class="fas fa-trash-alt"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/task/complete/<%=fbk._id%>"><i class="far fa-check-square"></i></a>
                            </li>
                        </ul>
                    </div>  
                </div>
            </div>
                <form method="post" action="/task/delete/<%=fbk._id%>" style="padding: 20px">
                    <input type="submit" class="btn btn-danger float-right" value="Delete feedback">
                    <a class="btn btn-primary float-right" style="margin-right: 25px" href="/" role="button">Cancel</a>
                </form>
            </div>

        </div> <!-- container -->
    </body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</html>
