<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
        <% include ./partials/navfbk %>
        <div class="card" style="width: 50%">
        <form method="post" action="/task/edit/<%=id%>" style="padding: 20px">
            <div class="form-group">
                
                <label for="duedate" class="text-primary">Due Date:</label>
                <input type="date" class="form-control" id="duedate" name="dueDate" value="<%=task.dueDate%>">
                
                <label for="fbkee" class="text-primary">Who do you want to give feedback to?</label>
                <select class="form-control" id="fbkee" name="fbkee">
                    <option>Tom</option>
                    <option>Steve</option>
                    <option>Brendan</option>
                </select>

                <label for="direction" class="text-primary">Direction</label>
                <select class="form-control" id="direction" name="direction">
                    <% switch(task.direction) {
                        case 'increased' : %>
                            <option selected>increased</option>
                            <option>descreased</option>
                        <% break; %>
                        <% case 'decreased' : %>
                            <option>increased</option>
                            <option selected>descreased</option>
                        <% break; %>
                    <% } %>
                </select>
                
                <label for="type" class="text-primary">Type of feedback</label>
                <select class="form-control" id="type" name="type">
                    <option>safety</option>
                    <option>awesomeness</option>
                    <option>delivery</option>
                    <option>knowledge</option>
                </select>
                
                <label for="detail" class="text-primary">Details</label>
                <input class="form-control" id="detail" name="detail" value="<%=task.detail%>"></textarea>
            
                <input id="isComplete" name="isComplete" type="hidden" value="<%=task.isComplete%>">
                <label for="duedate" class="text-primary">Due Date:</label>
                <input type="date" class="form-control" id="duedate" name="dueDate" value="<%=task.dueDate%>">
            </div>
                <input type="submit" class="btn btn-primary" value="Save Task">
        </form>
        </div>
    </div> <!-- container -->
  </body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</html>
