<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/fbker.css' />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/fontawesome-all.css">

    </head>
    
    <body>
        <div id="scoreboard">
    
            <% include ./partials/navfbk %>
            <br />
                    <table>
                        <tr>
                            <th class="email">User email<br />@exxonmobil.com</th>
                            <th class="numcol">score</th>
                            <th class="numcol">#&nbsp;rcv'd</th>
                            <th class="numcol">#&nbsp;rcv'd<br />unrated</th>
                            <th class="numcol">#&nbsp;sent</th>
                            <th class="numcol">#&nbsp;sent<br />unrated</th>
                        </tr>
                    <% for( let score of scoreboard ) {%>
                        <tr>
                            <td class="email"><%=score.shortemail%></td>
                            <td class="numcol"><%=score.score.toFixed(2)%></td>
                            <td class="numcol"><%=score.inCount%></td>
                            <td class="numcol"><%=score.noRating.noRatingInCount%></td>
                            <td class="numcol"><%=score.outCount%></td>
                            <td class="numcol"><%=score.noRating.noRatingOutCount%></td>
                        </tr>
                <% } %>
                    </table>

        </div> <!-- container -->

        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        <script>
            $(document).ready( function () {
                //$('.section').children("span").hide();
                $('.section').click(function() {
                    jQuery(this).next("div").toggle();
                    jQuery(this).children("span").toggle();
                });
            });
        </script>

    </body>
</html>
